# Supabase (Project Settings -> API)
SUPABASE_URL=https://opooyugrhzaohqwbyzur.supabase.co
SUPABASE_KEY=sb_secret_KZbVD51t4fFowFI2eaiEhg_QCGxnf6R
SUPABASE_JWT_SECRET=635ae915-60f1-4135-81b7-3c2d35486dda

# LLM
OPENAI_API_KEY=sk-...
LLM_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small

# App
CORS_ORIGINS=http://localhost:5173